* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

* a {
    text-decoration: none;
}

  * li {
    list-style: none;
}

.container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: auto;
    position: relative;
}

.logo {
    margin-left: -100px;
    margin-top: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.bg {
    position: relative;
    width: 100%;
    height: 1200px;
}

.bg::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    background-image: url(https://images.unsplash.com/photo-1582491795316-0782a861c529?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.navBar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 15vh;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.TC {
    color: #fff;
    padding: 25px;
}

.TC h2 {
    font-size: 2rem;
    letter-spacing: 2.8px;
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tnx {
    text-shadow: 0 0 30px #b603ec;
}

.txt h1 {
    font-size: 7rem;
    text-shadow: 0 0 8px #ffffff;
}

.TC p {
    padding: 15px;
    opacity: 0.6;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-left: 950px;
    margin-top: -950px;
}

.card h2 {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #000;
}

.card .box1,.box2,.box3,.box4,.box5,.box6 {
    width: 360px;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
}

.conx{
    padding-top: 400px;
}

.box1 {
    background-image: url("https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_1200/MTk3ODk2MTUwMDgxMjgzOTU4/cars-with-k24-engine.jpg");
}

.box2 {
    background-image: url("https://images.unsplash.com/photo-1647427060118-4911c9821b82?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box3 {
    background-image: url("https://www.skn-powerengineering.co.th/images/blog/gallery/3.jpg");
}

.box4 {
    background-image: url("https://images.unsplash.com/photo-1524234107056-1c1f48f64ab8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box5 {
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box6 {
    background-image: url("https://3.bp.blogspot.com/-t4mLtW2lBjA/U7TrFFAwPPI/AAAAAAAAAnY/ivIEBk2EXa0/s1600/product-design11.jpg");
}

.card div {
    transition: 0.5s;
}

.card div:hover {
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -110px;
    height: 50rem;
}
  
.image-container {
    width: 50%; 
}
  
.image-container img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
  
.text-container {
    width: 50%; 
    padding: 50px;
    text-align: start;
}
  
.text-container h1 {
    color: #000; 
    font-size: 30px; 
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 1px solid purple;
    padding-bottom: 20px;
}
  
.text-container h2 {
    font-size: 20px;
    margin-left: 40px;
}
  
.text-container h4 {
    font-size: 20px; 
    width: 48rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.text-container p {
    font-size: 18px;
    width: 46rem;
    margin-top: 10px;
    margin-left: 40px;
}

.text-topup-slide {
    text-align: center;
    align-items: center;
    margin-top: -7rem;
    margin-bottom: 2rem;
}

.text-topup-slide h1 {
    font-size: 40px;
    width: 95rem;
    margin: auto;
    padding: 2.5rem;
    color: #000000;
    text-shadow: 0 0 5px #8c00ff, 0 0 50px #b700ff;
    border-top: 2px solid #7225b9;
    border-bottom: 2px solid #7225b9;
}

/*.slide-bg {
    width: 100%;
    height: 70rem;
    margin-top: 3.5rem;
    background-size: cover;
    background-image: url(./photo/bg2.png) ;
} */

.slideshow-container {
    max-width: 1300px;
    height: 600px;
    position: relative;
    top: 3rem;
    margin: auto;
}
  
.mySlides {
    display: none;
}

.mySlides img {
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 0 40px #636262;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    margin-top: 10rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.container-bt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    height: 6rem;
}
  
a.button {
    width: 250px;
    height: 90px;
    position: relative; 
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px #717171;
    cursor: pointer;
}
  
button {
    font-size: 50px;
    background-color: transparent; 
    border: none;
}
  
.dropdown-menu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0; 
    width: 250px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #717171;
}
  
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.dropdown-menu li {
    padding: 10px 20px;
}
  
.dropdown-menu li a {
    text-decoration: none;
    color: #000;
}
  
.dropdown-menu li a:hover {
    background-color: #f2f2f2;
}
  
a.button:hover .dropdown-menu {
    display: block; 
}

.kennonjah {
    display: flex;
    background-image: url(./photo/bg2.png);
    background-size: cover;
    width: 100%;
    height: 50rem;
    justify-content: center;
    justify-content: space-around;
    margin-top: 15rem;
}

.team-items {
    padding: 3rem;
    text-align: center;
    align-items: center;
    margin-top: 11rem;
    height: 30rem;
    background-color: #e4e1e1;
    box-shadow: 0 0 50px #4e1785;
    border-radius: 20px;
}

.team-items img {
    width: 190px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0 0 15px #333;
}

.team-items h2 {
    margin-bottom: 15px;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(73, 72, 75);
}

.team-items h4 {
    margin-top: 20px;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(73, 72, 75);
}

.team-items p {
    margin-bottom: 20px;
    padding: 10px;
    color: #000000;
    text-shadow: 2px 2px 5px rgb(73, 72, 75);
}

.team-items a {
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
}


footer {
    clear : both;
    padding : 5px;
    text-align : center;
    border-top : 10px solid #570aa0;
    color : #000000;
    background : #a480bb;
}


