* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

* a {
    text-decoration: none;
}

  * li {
    list-style: none;
}

.container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: auto;
    position: relative;
}

.logo {
    margin-left: -100px;
    margin-top: 20px;
}

.logo img {
    width: 150px;
    height: 150px;
}

.bg {
    position: relative;
    width: 100%;
    height: 1200px;
}

.bg::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    background-image: url(https://images.unsplash.com/photo-1582491795316-0782a861c529?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

.navBar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 15vh;
}

.navBar ul {
    display: flex;
    align-items: center;
  }
.navBar ul li {
    padding: 0 25px;
}

.navBar ul li a {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.navBar .logo a {
    font-size: 2.3rem;
    color: #fff;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.TC {
    color: #fff;
    padding: 25px;
}

.TC h2 {
    font-size: 2rem;
    letter-spacing: 2.8px;
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tnx {
    text-shadow: 0 0 30px #b603ec;
}

.txt h1 {
    font-size: 7rem;
    text-shadow: 0 0 8px #ffffff;
}

.TC p {
    padding: 15px;
    opacity: 0.6;
}

.card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    margin-left: 950px;
    margin-top: -950px;
}

.card h2 {
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-shadow: 0 0 10px #000;
}

.card .box1,.box2,.box3,.box4,.box5,.box6 {
    width: 360px;
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    cursor: pointer;
}

.conx{
    padding-top: 400px;
}

.box1 {
    background-image: url("https://images.saymedia-content.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:eco%2Cw_1200/MTk3ODk2MTUwMDgxMjgzOTU4/cars-with-k24-engine.jpg");
}

.box2 {
    background-image: url("https://images.unsplash.com/photo-1647427060118-4911c9821b82?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box3 {
    background-image: url("https://www.skn-powerengineering.co.th/images/blog/gallery/3.jpg");
}

.box4 {
    background-image: url("https://images.unsplash.com/photo-1524234107056-1c1f48f64ab8?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box5 {
    background-image: url("https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.box6 {
    background-image: url("https://3.bp.blogspot.com/-t4mLtW2lBjA/U7TrFFAwPPI/AAAAAAAAAnY/ivIEBk2EXa0/s1600/product-design11.jpg");
}

.card div {
    transition: 0.5s;
}

.card div:hover {
    transition: 0.3s;
    transform: translateY(-10px);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.containers {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -110px;
    height: 55rem;
}
  
.image-container {
    width: 50%; /* Adjust as needed */
}
  
.image-container img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
  
.text-container {
    width: 50%; /* Adjust as needed */
    padding: 50px;
    text-align: start;
}
  
.text-container h1 {
    color: #000; /* Replace with the actual color from the image */
    font-size: 30px; /* Adjust as needed */
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 1px solid purple;
    padding-bottom: 20px;
}
  
.text-container h2 {
    font-size: 20px;
    margin-left: 40px;
}
  
.text-container h4 {
    font-size: 20px; /* Adjust as needed */
    width: 48rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.text-container p {
    font-size: 18px;
    width: 46rem;
    margin-top: 10px;
    margin-left: 40px;
}

.kennonjah {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    margin-top: -10rem;
}

.team-items {
    padding: 2rem;
    text-align: center;
    margin-top: 100px;
    background-color: #aaaaaa;
    border-radius: 15px;
}

.team-items img {
    width: 190px;
    height: 220px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 0 15px #333;
}

.team-items h2 {
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.team-items h4 {
    margin-top: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.team-items p {
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.team-items a {
    text-decoration: none;
    color: #fff;
    background: #000;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


footer {
    background: #333;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    color: #fff;
}

